<!DOCTYPE html>
<html>
<head>
    <title>Data Cleaning App</title>
</head>
<body>

<h2>Upload Dataset</h2>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <br><br>
    <button type="submit">Upload & Clean</button>
</form>

<!-- ERROR MESSAGE -->
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<!-- DATA PREVIEW -->
{% if tables %}
<h3>Cleaned Data Preview</h3>
{{ tables|safe }}

<br>

<!-- DOWNLOAD BUTTON -->
<a href="/download">
    <button>Download Cleaned File</button>
</a>

{% endif %}

</body>
</html>